<div class="row">
    <div class="col-md-6">
      <div class="card earning-card bg-secondary-dark text-white overflow-hidden">
        <span class="round secondary-round small"></span>
        <span class="round secondary-round big"></span>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="avatar avatar-lg">
                <i class="text-white ti ti-credit-card f-24"></i>
              </div>
            </div>
            <div class="col-auto">
              <div class="btn-group" ngbDropdown>
                <a type="button" class="avatar avatar-xs bg-secondary dropdown-toggle arrow-none" ngbDropdownToggle>
                  <i class="ti ti-dots"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <li><button class="dropdown-item" type="button">Import Card</button></li>
                  <li><button class="dropdown-item" type="button">Export</button></li>
                </ul>
              </div>
            </div>
          </div>
          <span class="text-white d-block f-34 f-w-500 my-2">
            $500.00
            <i class="ti ti-circle-arrow-up-right opacity-50"></i>
          </span>
          <p class="mb-0 opacity-50">Total number of you request</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card earning-card bg-secondary-dark text-white overflow-hidden">
        <span class="round secondary-round small"></span>
        <span class="round secondary-round big"></span>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="avatar avatar-lg">
                <i class="text-white ti ti-credit-card f-24"></i>
              </div>
            </div>
           
          </div>
          <span class="text-white d-block f-34 f-w-500 my-2">
            $500.00
            <i class="ti ti-circle-arrow-up-right opacity-50"></i>
          </span>
          <p class="mb-0 opacity-50">Total of your property</p>
        </div>
      </div>
    </div>
   
   
  
   
  </div>
  